# see http://docs.python.org/distutils/sourcedist.html

include netDistrib.conf
include countem installit
include .gitignore CHANGES LICENSE.md MANIFEST.in README.* TODO
recursive-include ghpDoc *
recursive-include bindex *.py
global-exclude junk* .*swp 
prune   .svn


